# PANDAS

**SERIES IN PANDAS**
- ITS like one dimmmension array
- we can access all the eelemrnt in arry
- now to see the example of series

In [1]:
import pandas as pd
# lets we take a simple one dimmension array
arry=[1,2,3,4,5,6,7,8,9,10]
# lets we convert this array into pandas series
new=pd.Series(arry)
print(new)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

****

In [1]:
import pandas as pd
mydata={ 'car': ["bmw","toyota","ford"] ,'number': [1,2,3]}
mynew=pd.DataFrame(mydata)
print(mynew)

      car  number
0     bmw       1
1  toyota       2
2    ford       3

# read csv file

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)  # Show all rows
new = pd.read_csv('sales_data_analysis.csv')
print(new)

# READ JSON FILE

In [ ]:
import pandas as pd
new=pd.read_json('open.json')
print(new)