# PANDAS

**SERIES IN PANDAS**
- ITS like one dimmmension array
- we can access all the eelemrnt in arry
- now to see the example of series

In [ ]:
import pandas as pd
# lets we take a simple one dimmension array
arry=[1,2,3,4,5,6,7,8,9,10]
# lets we convert this array into pandas series
new=pd.Series(arry)
print(new)

**WE CAN ACCESS THE EVERY ELENT OF IT**
- for example i have 10 index and i want to aceess the 9 one so waht i do 
- so i will show this in code

In [ ]:

new_var=new[8]
print(new_var)

10

****

**how to access element from dictionary**

In [ ]:
import pandas as pd
mydata={ 'car': ["bmw","toyota","ford"] ,'number': [1,2,3]}
mynew=pd.DataFrame(mydata)
print(mynew)
new_var=mynew['car'][2]
print(new_var)

# DATA FRAME
**FIRST WE GENERATE A MANUALLY DATA FRAM**
- lets show you in an example

In [ ]:
import pandas as pd
import numpy as np
from numpy.random import rand

my_data = rand(4,3) # This is a 4x3 array (4 rows, 3 columns)

num_rows = ['monday','tues','wens','turs'] # This list has 4 elements, for the 4 rows
num_columns = ['A','B','C']             # This list has 3 elements, for the 3 columns

# Corrected DataFrame creation using keyword arguments for clarity and correctness
mynew = pd.DataFrame(my_data, num_rows, num_columns)

print(mynew)

# read csv file

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)  # Show all rows
new = pd.read_csv('sales_data_analysis.csv')
print(new)

# READ JSON FILE

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
new =pd.read_json('iris-parquet.json')
print(new)

# PANDAS ANLAYISE DATA
**WE CAN THREE FUCTION**
- Head()
- tail()
- info()

# HEAD FUNCTION
- it show only fist five rows

In [ ]:
import pandas as pd
df=pd.read_csv('sales_data_analysis.csv')
print(df.head())

**if we want to access rows what you want**
- for example 10

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
df = pd.read_csv("sales_data_analysis.csv")
print(df.head(12))

# TAIL FUNCTION

In [ ]:
import pandas as pd
df= pd.read_csv('sales_data_analysis.csv')
print(df.tail())

**if you want to access more than  rows from last**

In [ ]:
import pandas as pd
df =pd.read_csv('sales_data_analysis.csv')
print(df.tail(10))

# CLEANING EMPTY CELL
- When you ahve a large data set and you want to remove empty row so no problem to delete
- we use dropna function
- the dropna fuction delete the empty cell row but not change the orignal
- we use dropna()

In [ ]:
import pandas as pd
df=pd.read_csv('data.csv')
df_new=df.dropna()  # This will remove all rows with any NaN values
print(df_new.to_string())

**if you wan to change the original**
- we use dropna(inplace=true) then the orignal will aslo change

In [ ]:
import pandas as pd
df=pd.read_csv('data.csv')
df.dropna(inplace=True)  
print(df.to_string())

# describe function
**to show all information about any file**

In [11]:
import pandas as pd
df=pd.read_csv('data.csv')
print(df.describe())

         Duration       Pulse    Maxpulse     Calories
count  168.000000  169.000000  169.000000   164.000000
mean    63.779762  107.461538  134.047337   375.790244
std     42.417574   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

# info fuction
- it show number of entities
- it show data type
- show number of column

In [ ]:
import pandas as pd
df=pd.read_csv('data.csv')
print(df.info())

# REPLACE EMPTY VALUE
- WE USE fillna()

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
df.fillna(134.89, inplace=True)  # Replace NaN values with 0
print(df.to_string())

**to change the value in specify column**

In [ ]:
import pandas as pd
df =pd.read_csv('data.csv')
df.fillna({'Calories':450},inplace=True)
print(df.to_string())

# USING MEAN(),MODE(),MEDIAN()
- how we can replcae the emly cell through it

**mean()**

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
mean_value = df['Calories'].mean()
print("the mean(average) of calories calumn is :",mean_value)
print("-------------------------------------------")
df.fillna({'Calories': mean_value},inplace=True)
print(df.to_string())

**if you find the mean os all numaric data**
- then we use numeric data=true

In [9]:
import pandas as pd
sf=pd.read_csv('data.csv')
mean_ofall_numaric_data=sf.mean(numeric_only=True)
print(mean_ofall_numaric_data)

Duration     63.779762
Pulse       107.461538
Maxpulse    134.047337
Calories    375.790244
dtype: float64

# MODE()
**mode mean repeating of somthing**
- we use the mode() function

In [ ]:
import pandas as pd
df=pd.read_csv("data.csv")
mode_value=df.mode()
print("The mode of the data is:")
print(mode_value)

The mode of the data is:
   Duration  Pulse  Maxpulse  Calories
0      60.0    100       120     300.0

# MEDIAN()
- HOW find median 
- we use median() fuction

In [15]:
import pandas as pd
df =pd.read_csv('data.csv')
new=df.median()
print("The median of the Duration column is:")
print(new)

The median of the Duration column is:
Duration     60.0
Pulse       105.0
Maxpulse    131.0
Calories    318.6
dtype: float64

**if you want to finf the median of specfic column**

In [16]:
import pandas as pd
df=pd.read_csv('data.csv')
new=df['Duration'].median()
print("The median of the Duration column is:")
print(new)

The median of the Duration column is:
60.0

**if we find the median and then we want to add it to empty cell**

In [30]:
import pandas as pd

df = pd.read_csv('data.csv')
median_values = df.median(numeric_only=True)
df.fillna(median_values, inplace=True)

print("Successfully filled empty cells with median values.")
print("--------------------------------------------------")
print(mean_value)
print(df.to_string())

Successfully filled empty cells with median values.
--------------------------------------------------
375.79024390243904
     Duration  Pulse  Maxpulse  Calories
0        60.0    110       130     409.1
1        60.0    117       145     479.0
2        60.0    103       135     340.0
3        45.0    109       175     282.4
4        45.0    117       148     406.0
5        60.0    102       127     300.0
6        60.0    110       136     374.0
7        45.0    104       134     253.3
8        30.0    109       133     195.1
9        60.0     98       124     269.0
10       60.0    103       147     329.3
11       60.0    100       120     250.7
12       60.0    106       128     345.3
13       60.0    104       132     379.3
14       60.0     98       123     275.0
15       60.0     98       120     215.2
16       60.0    100       120     300.0
17       45.0     90       112     318.6
18       60.0    103       123     323.0
19       45.0     97       125     243.0
20       60.0    108       131     364.2
21       45.0    100       119     282.0
22       60.0    130       101     300.0
23       45.0    105       132     246.0
24       60.0    102       126     334.5
25       60.0    100       120     250.0
26       60.0     92       118     241.0
27       60.0    103       132     318.6
28       60.0    100       132     280.0
29       60.0    102       129     380.3
30       60.0     92       115     243.0
31       45.0     90       112     180.1
32       60.0    101       124     299.0
33       60.0     93       113     223.0
34       60.0    107       136     361.0
35       60.0    114       140     415.0
36       60.0    102       127     300.0
37       60.0    100       120     300.0
38       60.0    100       120     300.0
39       45.0    104       129     266.0
40       45.0     90       112     180.1
41       60.0     98       126     286.0
42       60.0    100       122     329.4
43       60.0    111       138     400.0
44       60.0    111       131     397.0
45       60.0     99       119     273.0
46       60.0    109       153     387.6
47       45.0    111       136     300.0
48       45.0    108       129     298.0
49       60.0    111       139     397.6
50       60.0    107       136     380.2
51       80.0    123       146     643.1
52       60.0    106       130     263.0
53       60.0    118       151     486.0
54       30.0    136       175     238.0
55       60.0    121       146     450.7
56       60.0    118       121     413.0
57       45.0    115       144     305.0
58       20.0    153       172     226.4
59       45.0    123       152     321.0
60      210.0    108       160    1376.0
61      160.0    110       137    1034.4
62      160.0    109       135     853.0
63       45.0    118       141     341.0
64       20.0    110       130     131.4
65      180.0     90       130     800.4
66      150.0    105       135     873.4
67      150.0    107       130     816.0
68       20.0    106       136     110.4
69      300.0    108       143    1500.2
70      150.0     97       129    1115.0
71       60.0    109       153     387.6
72       90.0    100       127     700.0
73      150.0     97       127     953.2
74       45.0    114       146     304.0
75       90.0     98       125     563.2
76       45.0    105       134     251.0
77       45.0    110       141     300.0
78      120.0    100       130     500.4
79      270.0    100       131    1729.0
80       30.0    159       182     319.2
81       45.0    149       169     344.0
82       30.0    103       139     151.1
83      120.0    100       130     500.0
84       45.0    100       120     225.3
85       30.0    151       170     300.0
86       45.0    102       136     234.0
87      120.0    100       157    1000.1
88       45.0    129       103     242.0
89       20.0     83       107      50.3
90      180.0    101       127     600.1
91       45.0    107       137     318.6
92       30.0     90       107     105.3
93       15.0     80       100      50.5
94       20.0    150       171     127.4
95       20.0    151       168     229.4
96       30.0     95       128     128.2
97       25.0    152       168     244.2
98       30.0    109       131     188.2
99       90.0     93       124     604.1
100      20.0     95       112      77.7
101      90.0     90       110     500.0
102      90.0     90       100     500.0
103      90.0     90       100     500.4
104      30.0     92       108      92.7
105      30.0     93       128     124.0
106     180.0     90       120     800.3
107      30.0     90       120      86.2
108      90.0     90       120     500.3
109     210.0    137       184    1860.4
110      60.0    102       124     325.2
111      45.0    107       124     275.0
112      15.0    124       139     124.2
113      45.0    100       120     225.3
114      60.0    108       131     367.6
115      60.0    108       151     351.7
116      60.0    116       141     443.0
117      60.0     97       122     277.4
118      60.0    105       125     318.6
119      60.0    103       124     332.7
120      30.0    112       137     193.9
121      45.0    100       120     100.7
122      60.0    119       169     336.7
123      60.0    107       127     344.9
124      60.0    111       151     368.5
125      60.0     98       122     271.0
126      60.0     97       124     275.3
127      60.0    109       127     382.0
128      90.0     99       125     466.4
129      60.0    114       151     384.0
130      60.0    104       134     342.5
131      60.0    107       138     357.5
132      60.0    103       133     335.0
133      60.0    106       132     327.5
134      60.0    103       136     339.0
135      20.0    136       156     189.0
136      45.0    117       143     317.7
137      45.0    115       137     318.0
138      45.0    113       138     308.0
139      20.0    141       162     222.4
140      60.0    108       135     390.0
141      60.0     97       127     318.6
142      45.0    100       120     250.4
143      45.0    122       149     335.4
144      60.0    136       170     470.2
145      45.0    106       126     270.8
146      60.0    107       136     400.0
147      60.0    112       146     361.9
148      30.0    103       127     185.0
149      60.0    110       150     409.4
150      60.0    106       134     343.0
151      60.0    109       129     353.2
152      60.0    109       138     374.0
153      30.0    150       167     275.8
154      60.0    105       128     328.0
155      60.0    111       151     368.5
156      60.0     97       131     270.4
157      60.0    100       120     270.4
158      60.0    114       150     382.8
159      30.0     80       120     240.9
160      30.0     85       120     250.4
161      45.0     90       130     260.4
162      45.0     95       130     270.0
163      45.0    100       140     280.9
164      60.0    105       140     290.8
165      60.0    110       145     300.0
166      60.0    115       145     310.2
167      75.0    120       150     320.4
168      60.0    125       150     330.4