# PANDAS

**SERIES IN PANDAS**
- ITS like one dimmmension array
- we can access all the eelemrnt in arry
- now to see the example of series

In [1]:
import pandas as pd
# lets we take a simple one dimmension array
arry=[1,2,3,4,5,6,7,8,9,10]
# lets we convert this array into pandas series
new=pd.Series(arry)
print(new)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

**WE CAN ACCESS THE EVERY ELENT OF IT**
- for example i have 10 index and i want to aceess the 9 one so waht i do 
- so i will show this in code

In [ ]:

new_var=new[8]
print(new_var)

10

****

**how to access element from dictionary**

In [13]:
import pandas as pd
mydata={ 'car': ["bmw","toyota","ford"] ,'number': [1,2,3]}
mynew=pd.DataFrame(mydata)
print(mynew)
new_var=mynew['car'][2]
print(new_var)

      car  number
0     bmw       1
1  toyota       2
2    ford       3
ford

# DATA FRAME
**FIRST WE GENERATE A MANUALLY DATA FRAM**
- lets show you in an example

In [22]:
import pandas as pd
import numpy as np
from numpy.random import rand

my_data = rand(4,3) # This is a 4x3 array (4 rows, 3 columns)

num_rows = ['monday','tues','wens','turs'] # This list has 4 elements, for the 4 rows
num_columns = ['A','B','C']             # This list has 3 elements, for the 3 columns

# Corrected DataFrame creation using keyword arguments for clarity and correctness
mynew = pd.DataFrame(my_data, num_rows, num_columns)

print(mynew)

               A         B         C
monday  0.210548  0.542653  0.197865
tues    0.785099  0.041200  0.668983
wens    0.384171  0.566559  0.542939
turs    0.488986  0.492564  0.143845

# read csv file

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)  # Show all rows
new = pd.read_csv('sales_data_analysis.csv')
print(new)

# READ JSON FILE

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
new =pd.read_json('iris-parquet.json')
print(new)

# PANDAS ANLAYISE DATA
**WE CAN THREE FUCTION**
- Head()
- tail()
- info()

# HEAD FUNCTION
- it show only fist five rows

In [1]:
import pandas as pd
df=pd.read_csv('sales_data_analysis.csv')
print(df.head())

         Date Product  Sales  Price  Revenue
0  2023-01-01       A    161  17.48  2814.28
1  2023-01-02       C     95  36.21  3439.95
2  2023-01-03       C    120  21.09  2530.80
3  2023-01-04       B    147  38.60  5674.20
4  2023-01-05       C    112  18.82  2107.84

**if we want to access rows what you want**
- for example 10

In [2]:
import pandas as pd
df = pd.read_csv("sales_data_analysis.csv")
print(df.head(12))

          Date Product  Sales  Price  Revenue
0   2023-01-01       A    161  17.48  2814.28
1   2023-01-02       C     95  36.21  3439.95
2   2023-01-03       C    120  21.09  2530.80
3   2023-01-04       B    147  38.60  5674.20
4   2023-01-05       C    112  18.82  2107.84
5   2023-01-06       A    125  20.87  2608.75
6   2023-01-07       B    124  44.37  5501.88
7   2023-01-08       A     74  30.89  2285.86
8   2023-01-09       C    128  44.09  5643.52
9   2023-01-10       A    189  14.88  2812.32
10  2023-01-11       C     91  27.15  2470.65
11  2023-01-12       A     89  12.51  1113.39

# TAIL FUNCTION

In [3]:
import pandas as pd
df= pd.read_csv('sales_data_analysis.csv')
print(df.tail())

          Date Product  Sales  Price  Revenue
95  2023-04-06       C    167  22.29  3722.43
96  2023-04-07       C    151  27.43  4141.93
97  2023-04-08       A     62  31.97  1982.14
98  2023-04-09       C    101  43.87  4430.87
99  2023-04-10       A    128  44.78  5731.84

**if you want to access more than  rows from last**

In [4]:
import pandas as pd
df =pd.read_csv('sales_data_analysis.csv')
print(df.tail(10))

          Date Product  Sales  Price  Revenue
90  2023-04-01       C     92  18.79  1728.68
91  2023-04-02       B     59  38.15  2250.85
92  2023-04-03       B    133  39.23  5217.59
93  2023-04-04       A    162  16.60  2689.20
94  2023-04-05       A    186  35.35  6575.10
95  2023-04-06       C    167  22.29  3722.43
96  2023-04-07       C    151  27.43  4141.93
97  2023-04-08       A     62  31.97  1982.14
98  2023-04-09       C    101  43.87  4430.87
99  2023-04-10       A    128  44.78  5731.84

In [ ]:
S