# PANDAS

**SERIES IN PANDAS**
- ITS like one dimmmension array
- we can access all the eelemrnt in arry
- now to see the example of series

In [ ]:
import pandas as pd
# lets we take a simple one dimmension array
arry=[1,2,3,4,5,6,7,8,9,10]
# lets we convert this array into pandas series
new=pd.Series(arry)
print(new)

**WE CAN ACCESS THE EVERY ELENT OF IT**
- for example i have 10 index and i want to aceess the 9 one so waht i do 
- so i will show this in code

In [ ]:

new_var=new[8]
print(new_var)

10

****

**how to access element from dictionary**

In [13]:
import pandas as pd
mydata={ 'car': ["bmw","toyota","ford"] ,'number': [1,2,3]}
mynew=pd.DataFrame(mydata)
print(mynew)
new_var=mynew['car'][2]
print(new_var)

      car  number
0     bmw       1
1  toyota       2
2    ford       3
ford

# read csv file

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', None)  # Show all rows
new = pd.read_csv('sales_data_analysis.csv')
print(new)

# READ JSON FILE

In [ ]:
import pandas as pd
new=pd.read_json('open.json')
print(new)